body{
    background-image: url(/images/pandemie-logo-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.login-container{
    width: 40%;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 30px;
    
}
.login-title{
    color: aquamarine;
    background-color: grey;
    width: 100%;
    margin: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
   
    
}

.login-options a{
    color: rgb(247, 244, 244);
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;

}
.login-options{
    font-size: 18px;
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: black solid 1px;
    background-color: grey;
    

}
input {
    border: 2px solid gray;
    padding: 8px;
    transition: border 0.2s ease-in-out; 
}

input:hover {
    border: 5px solid black; 
}

button{
    border: 2px solid gray;
    background-color: white;
    padding: 10px 20px;
    transition: border 0.2s ease-in-out; 
}
button:hover{
    border: 5px solid black
}

.register, .forgot, .back-home {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

.register:hover, .forgot:hover, .back-home:hover {
    text-decoration: underline;
}

.role {
    background-color: whitesmoke;
    color: black;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 0px 8px 0px;  
    border: 1px solid gray;
    transition: border 0.2s ease-in-out;
    width: 100%;
    display: flex;

}
.title-role{
    margin-left: 8px;

}
.user-role{
    margin-left: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    font-size: 14px;
}
.user-role:hover{
    border: 1px solid black;

}
.option-role:hover{
    border: 1px solid black;


}